/* CAPTCHA */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #232331;
    font-family: 'Roboto', sans-serif;
}

#captchaBackground {
    height: 220px;
    width: 250px;
    background-color: #2d3748;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px auto auto auto;
    border-radius: 10px;
}

#captchaHeading {
    color: white;
    margin: auto auto 10px auto;
    background-color: black;
    border-radius: 10px;
    padding: 5px;
    border: 7px solid rgba(29, 20, 9, 0.677);
}

#captcha {
    height: 80%;
    width: 80%;
    font-size: 30px;
    letter-spacing: 3px;
    margin: auto;
    display: block;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

#submitButton {
    margin-top: 2em;
    margin-bottom: 2em;
    background-color: #08e5ff;
    border: 0px;
    font-weight: bold;
}

#refreshButton {
    background-color: #08e5ff;
    border: 0px;
    font-weight: bold;
}

#textBox {
    height: 25px;
}

.incorrectCaptcha {
    color: #FF0000;
}

.correctCaptcha {
    color: #7FFF00;
}

#next_page_btn {
    
}


/* ------------------------- header and navbar -------------------------*/


.coffee_logo {
    width:50px
}

.nav-item {
    align-items: 
    
}


/* ------------------------- Main -------------------------*/

main {
    color: white;
    font-style: oblique;
}

.area_dos_produtos {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./assets/background.webp);
    object-fit: contain;
}

.card_title {
    margin: 2rem auto 2rem auto;
    padding: 9px;
    background-color: black;
    border-radius: 20px;
    border: 6px solid rgb(46, 29, 29);
}

/* .card_area {
    display:;
} */

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 6px solid black;
}


.price_button {
    margin: auto;
}

/* ------------------------- Captcha -------------------------*/

.input {
    opacity: 0.1;
    height: 1px;
    width: 1px;
}